{% extends 'layout.html' %}
{% block body %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<html>
<head>
     <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col">
            <div class="card">
                <div class="row card-body">
                   <div class="col">
                    <h1 class="display-2 mb-4">Smart AI based<br class="d-none d-md-inline">Online Proctoring System</h1>
                    <h3 class="display-4 mb-4">Major Project</h3>
                    <p class="lead mb-4 text-muted">A full-fledged end-to-end online examination system with proctoring capabilities,</p>
                    </div>
                    <div class="col text-right">
                        <img src="{{ url_for('static', filename='myproctoraiindex.gif') }}"/>
                    </div>
                                </div>
            </div>
        </div>
    </div>
    </div>

    <section class="content content-bg">
      <div class="container">
      <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1 class="text-center mb-0">Core values of our project - Procxam</h1>
      </div>
      </div>

      <div class="row align-items-center my-large">
        <div class="col-md-6">
        <div id="platform-exam_proctoring" class="platform-animation">
          <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_omszt4va.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        </div>
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1">
        <h1 class="display-2 mb-4">Our Mission</h1>
        <p class="lead mb-4 text-muted">Making green exam assessment reach across the globe.</p>
        </div>
        </div>

        <div class="row align-items-center my-large">
          <div class="col-md-6 order-md-2 offset-lg-1 ">
            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_fdLGjD.json"  background="transparent"  speed="1"  style="width: 600px; height: 500px;"  loop  autoplay></lottie-player>
          </div>
          <div class="col-md-6 col-lg-5 order-md-1">
          <h1 class="display-2 mb-4">Our Vision</h1>
          <p class="lead mb-4 text-muted">Future ready ed-tech and hiring solutions featuring simple functionality.</p>
          </div>
          </div>

      <div class="row align-items-center my-large">
        <div class="col-md-6 order-md-2 offset-lg-1 ">
          <img class="mb-3 mt-3" src="/static/admin-dashboard-1.png" alt="">
        </div>
        <div class="col-md-6 col-lg-5 order-md-1">
        <h1 class="display-2 mb-4">Features</h1>
        <p class="lead mb-4 text-muted">Proctoring - Gaze tracking - Face spoofing detection - Mobile detection - Noise detection</p>
        <p class="lead mb-4 text-muted">Dashboard - Create, modify and manage tests - publish results - proctoring logs</p>
        </div>
        </div>

        
      </div>
      </section>      
<br>

<section class="py-5">
    <div class="container">
    <div class="card shadow bg-white text-secondary">
    <div class="card-body">
<div class="pt-5 pb-4 mb-3 border-top">
    <div class="container pb-2">
      <h2 class="text-center  mb-5 no-xs-margin-bottom">
        Secure Authentication and Database Management
      </h2>
      <div class="row  py-4">
        <div class="col-md-5 mt-5">
          <div class="row mb-2">
            <div class="col-xs-3">
              <img loading="lazy" src="/static/examcheck.png" alt="Candidate-enter-registration-details" class="center-block img img-responsive" style="height:45px;">
              
            </div>
            <div class="col-xs-9 pl-0">
              <h4 class="mt-1 pl-0 text-bold">
                Separate portal for examiners and test takers.
              </h4>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-xs-3">
              <img loading="lazy" src="/static/candidateclickspic.png" alt="Candidate-clicks-his-picture" class="center-block img img-responsive" style="height:45px;">
            </div>
            <div class="col-xs-9 pl-0">
              <h4 class="mt-2 pl-0 text-bold">
                Face recognition based login system.
              </h4>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-xs-3">
              <img loading="lazy" src="/static/idverify.png" alt="Candidate-verifies-his-ID-proof" class="center-block img img-responsive" style="height:45px;">
  
            </div>
            <div class="col-xs-9 pl-0">
              <h4 class="mt-2 pl-0 text-bold">
                Proctoring logs are stored in a database.
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-sm-7">
          
          <picture> 
            <img loading="lazy" src="/static/mettlverify.jpg" alt="Candidate-Authentication" class="img img-responsive"> 
          </picture>
        </div>
      </div>
    </div>
  </div>
    </div>
    </div>
    </div>
</section>

<section class="py-5">
  <div class="container">
  <div class="card shadow bg-white text-secondary">
  <div class="card-body">
  
  <div class="container">
  <div class="row">
  <div class="col-10 offset-1">
  <h1 class="text-center">Procxam is best suited for</h1><br>
  <div class="row  justify-content-center feature-container">
  
  <div class="col-12 col-md-4">
  <div class="container">
  <div class="row ">
  <div class="col-12">
  <p><img class="img-fluid services-feature-img" src="/static/i13.png" width="256" height="256" alt="Dedicated Account Team"></p>
  </div>
  <div class="col-12">
  <h6 class="text-center">Universities</h6>
  </div>
  </div>
  </div>
  </div>
  
  <div class="col-12 col-md-4">
  <div class="container">
  <div class="row ">
  <div class="col-12">
  <p><img class="img-fluid services-feature-img" src="/static/i14.png" alt="Dedicated Account Team"></p>
  </div>
  <div class="col-12">
  <h6 class="text-center">Assessment Providers</h6>
  
  </div>
  </div>
  </div>
  </div>
  
  <div class="col-12 col-md-4">
  <div class="container">
  <div class="row ">
  <div class="col-12">
  <p><img class="img-fluid services-feature-img" src="/static/i15.png" alt="Dedicated Account Team"></p>
  </div>
  <div class="col-12">
  <h6 class="text-center">E-Learning Programs</h6>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>

  </div>
  </div>
  </div>
</section>

                <br>
      
                <section class="py-5">
                  <div class="container">
                  <div class="card shadow bg-white text-secondary">
                  <div class="card-body">

                    <div class="container">
                      <div class="row">
                      <div class="col-10 offset-1">
                      <h1 class="text-center">External APIs used</h1><br>
                      <div class="row  justify-content-center feature-container">
                        <div class="col-12 col-md-4">
                          <div class="container">
                          <div class="row ">
                          <div class="col-12">
                          <p><img class="img-fluid services-feature-img" src="/static/Stripe wordmark - blurple_lg.png" alt="Dedicated Account Team"></p>
                          </div>
                          <div class="col-12">
                          <h6 class="text-center">Stripe Payment Services</h6>
                          </div>
                          </div>
                          </div>
                          </div>

                      </div>
                  </div>
                  </div>
                    </div>
                  </div>
                      </div>
                  </div>
              </section>

              <br>

              <section class="py-5">
                <div class="container">
                <div class="card shadow bg-white text-secondary">
                <div class="card-body">

                  <div class="container">
                    <div class="row">
                    <div class="col-10 offset-1">
                    <h1 class="text-center">Get in touch today</h1><br>
                    <div class="row  justify-content-center feature-container">

                      <iframe class="map rounded" title="map" id="gmap_canvas" src="https://www.google.com/maps/place//@18.6661581,78.9085106,16z" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <p></p><p></p>
                    <div class="row  justify-content-center feature-container">

                      <div class="col-12 col-md-4">
                        <div class="container">
                        <div class="row center-block">
                          <div class="icon-box mb-4">
                            <div class="icon icon-dark mb-4">
                                <span class="fas fa-map-marker-alt"></span>
                            </div>
                            <h2 class="h5 icon-box-title">Visit us</h2>
                            <span>
                              JNTUH University College of Engineering,
                                <br>Nachupally,
                                
                                <br>Jagtial-505501
                            </span>
                        </div>
                        </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-4">
                        <div class="container">
                        <div class="row align-items-center">
                          <div class="icon-box mb-4">
                            <div class="icon icon-dark mb-4">
                                <span class="fas fa-phone-volume"></span>
                            </div>
                            <h2 class="h5 icon-box-title">Call</h2>
                            <a href="tel:+91 9985804782">+91 9XXXXXXXXX</a>
                            <div class="text-small text-gray">
                                Mon - Sat, 7am - 11pm
                            </div>
                        </div>
                        </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-4">
                        <div class="container">
                        <div class="row align-items-center">
                          <div class="icon-box mb-4">
                            <div class="icon icon-dark mb-4">
                                <span class="far fa-paper-plane"></span>
                            </div>
                            <h2 class="h5 icon-box-title">Email</h2>
                            <a href="mailto:procxam@gmail.com">procxam@gmail.com</a>
                        </div>
                        </div>
                        </div>
                      </div>                       
                        
                                    </div>       
                        </div>
                    </div>
            </div>      
                    </div>
                </div>
                    </div>
                  </div>
                </div>
                
    </div>
</div>
              </section>
{% endblock %}